body {
    background-color: #20052f;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
    max-width: 70%;
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 3;
    border-spacing: 10px 0px;

}

caption {
    font-size: 29px;
    color: #d6ed06;
}


th {
    font-size: 24px;
    color: #ffff;
    height: 12vh;
    letter-spacing: 2px;
}

tr,
td {
    background-color: #010727ca;
    color: aliceblue;
    border-bottom: 2px solid #a5a5a59f;
}

.f-row>td {
    font-size: 3rem;
}

.fa-dollar {
    font-size: medium;
}